:root {
  --title-color: red;
  --text-color: maroon;
}

* {
}

html {
      /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

h1 {
    font-size: 4rem;
}


header nav {
    margin-right: 2rem;
    float: inline-end;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: spacae-evenly;
    flex-wrap:wrap;
    align-content: center;
}

header nav ul li {
    margin: 1rem 2rem 1rem 2rem;
}			

h2 {
    font-size: 2.5rem;
}
    
p {
    font-size: 1.5rem
}

figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
figure img {
    width: 100%;
    border: solid 1.5rem;
    border-color: pink;
    margin: 0.5rem;
}

figure figcaption {
    margin: -5rem 0rem 0rem 0rem;
    background-color: pink;
    padding: 0.5rem 1.5rem 0rem 1.5rem;
    color: black;
}

footer {
    margin: 0px;
    padding: 25px;
    background-color: grey;
    color: white;
    text-align: center;
}

.tagline {
align-content: bottom;
}

/* This was taken from Module 01 challlenge */
.header-banner {
    background-color: aqua;
    height: 35rem;
    width: 100%;
    background-image: url("./assets/images/banner-place-holder.png");
    background-size: cover;
    background-position: center;
}


.portfolio-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 1rem;
}

.about-me  {
    display: flex;
    flex-direction: column;
}

.about-me,
.projects,
.horz-list {
    width: 100%;
}

.horz-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    font-size: 1.5rem;
    flex-wrap:wrap;
    margin: 0.5rem 2rem 0.5rem 2rem;
}   

.center-to-left {
    border-style: none none solid none;
    border-color: black;
    border-width: 0.75rem;
}

#about-me ~ p {
    display: flex;
    flex-direction: column;
}

#work{
    font-size: 1.5rem;
}

#work ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#work ul li ~ li {
    width: 100%;
}

#project-one {
    font-size: 2rem;
    width: 100%;
}

#other-work a {
    width: 100%;
}

/* Taken from module 02 miniproject */
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {

    header nav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap:wrap;
        align-content: center;
    }
    .center-to-left{
        border-style: none solid none none;
        border-color: black;
        border-width: 0.75rem;
    }
    .about-me  {
	width: 87.5%;
    }
    .horz-list {
	width: 87.5%;
    }
    .projects {
        width: 87.5%;
    }
    .center-to-left {
	width: 12.5%;
    }
    #work ul li ~ li {
	width: 50%;
    }

  
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }
  header div {
    padding-right: 25%;
} 


  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
