:root {
  --title-color: red;
  --text-color: maroon;
}

* {
}

header {
    padding: 20px;
    
}
header div {
    
    background-color: yellow;
    justify-content: left;
}
header h1 {
    display: inline-block;
    justify-content: right;
}

header nav {
  display: inline-block;
    margin-right: 20px;
    float: inline-end;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav ul{
    list-style-type: none;

}

header nav ul li {
    display: inline-block;
    padding: 0 20px;
}			

h1 {
}

nav {
    display: flex;
    flex-direction: row;
    
}

p {
}


.banner {
    background: var(--title-color);
    color: purple;
    text-size: 40px;
}

/* This was taken from Module 01 challlenge */
.header-banner {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
}

.nav-bar {
}



/* Taken from module 02 miniproject */
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
